<ul class="channels">
  <% if @channels.empty? %>
    <div class="channels--empty"></div>
  <% else %>
    <% @channels.each do |channel| %>
      <li class="channels--channel">
        <span class="channels--channel--name"><%= link_to channel.name, channel_path(channel) %></span>
      </li>
    <% end %>
  <% end %>
</ul>
