@charset "utf-8";

@import "normalize-rails";
@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";
@import "refills/flashes";

body {
  padding: $base-spacing;
}
.app-nav {
  padding-bottom: $base-spacing;
  text-align: right;
}
.app-nav--item {
  display: inline-block;
  padding: 0 $base-spacing / 2;
}

.app-nav--item--auth a {
  @extend %button;
}
